<div class="wrapper">
  <div class="btn">
    <%= link_to '登録する', new_format_path %>
  </div>
  <div class="formats">
    <% @formats.each do |format| %>
      <div class="format">
        <div class="format-name">企業情報：<%= format.name %>/<%= format.address %></div>
        <div class="format-name">ユーザー情報：<%= format.user.user_name%>/<%= format.user.email%></div>
      </div>
    <% end %>
  </div>
</div>